{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>
    <div class="search-header">
        <label class="label-search" for="search"><i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="RECHERCHER">
        </label>
    </div>
    <div class="album-list">
        <h1 class="page-title pge-album-arts">
            Albums
        </h1>
        {% for album in albums|slice(0, 6) %}
        <div class="album-item">
            <a class="cover-album" href="{{ path('view_album',{'id': album.id} )}}"><img src="{{asset('img/covers/subzero.jpg')}}" alt="cover album"></a>
            <div class="album-info">
                <a class="album-title" href="{{ path('view_album',{'id': album.id} )}}">{{album.nom}}</a>
                <a class="artist-title" href="{{ path('view_artiste',{'id': album.artiste.id} )}}">{{album.artiste}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="artists-list">
        <h1 class="page-title pge-album-arts">
            Artists
        </h1>
        {% for artiste in artistes|slice(0, 6) %}
        <div class="artist-it">
            <a href="{{ path('view_artiste',{'id': artiste.id} )}}">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">{{artiste.nom}}</span>
            </a>
        </div>
        {% endfor %}
    </div>
    <h1 class="page-title">
        Bibliothèque musicale
    </h1>
    <div class="musics-list">
        {% for musique in musiques |slice(0, 5) %}
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">{{musique.nom}}</span>
                    <a class="music-artist artist-item" href="https://127.0.0.1:8000/artiste/7">{{musique.artiste}}</a>
                </div>

            </div>
            <a class="album-name" href="https://127.0.0.1:8000/album/7">{{musique.album}}</a>
            <div class="more-info">
                <span class="music-rating">4.5</span>
                <span class="music-duration">3:50</span>
            </div>
            <audio src="" id="audio"></audio>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}