{% extends 'base.html.twig' %}

{% block title %}Musiques{% endblock %}

{% block body %}
<main>
    <div class="search-header">
        <label class="label-search" for="search"><i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="RECHERCHER">
        </label>
    </div>
    <h1 class="page-title">
        Bibliothèque musicale
    </h1>
    <div class="musics-list">
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">subzero</span>
                    <a class="music-artist artist-item" href="https://127.0.0.1:8001/artiste/7">Ben Klock</a>
                </div>

            </div>
            <a class="album-name" href="https://127.0.0.1:8001/album/7">Crush</a>
            <div class="more-info">
                <span class="music-rating">4.5</span>
                <span class="music-duration">3:50</span>
            </div>
            <audio src="" id="audio"></audio>
        </div>
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">subzero</span>
                    <a class="music-artist artist-item" href="https://127.0.0.1:8001/artiste/7">Ben Klock</a>
                </div>

            </div>
            <a class="album-name" href="https://127.0.0.1:8001/album/7">Crush</a>
            <div class="more-info">
                <span class="music-rating">4.5</span>
                <span class="music-duration">3:50</span>
            </div>
            <audio src="" id="audio"></audio>
        </div>
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">subzero</span>
                    <a class="music-artist artist-item" href="https://127.0.0.1:8001/artiste/7">Ben Klock</a>
                </div>

            </div>
            <a class="album-name" href="https://127.0.0.1:8001/album/7">Crush</a>
            <div class="more-info">
                <span class="music-rating">4.5</span>
                <span class="music-duration">3:50</span>
            </div>
            <audio src="" id="audio"></audio>
        </div>
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">subzero</span>
                    <a class="music-artist artist-item" href="https://127.0.0.1:8001/artiste/7">Ben Klock</a>
                </div>

            </div>
            <a class="album-name" href="https://127.0.0.1:8001/album/7">Crush</a>
            <div class="more-info">
                <span class="music-rating">4.5</span>
                <span class="music-duration">3:50</span>
            </div>
            <audio src="" id="audio"></audio>
        </div>
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">subzero</span>
                    <a class="music-artist artist-item" href="https://127.0.0.1:8001/artiste/7">Ben Klock</a>
                </div>

            </div>
            <a class="album-name" href="https://127.0.0.1:8001/album/7">Crush</a>
            <div class="more-info">
                <span class="music-rating">4.5</span>
                <span class="music-duration">3:50</span>
            </div>
            <audio src="" id="audio"></audio>
        </div>
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">subzero</span>
                    <a class="music-artist artist-item" href="https://127.0.0.1:8001/artiste/7">Ben Klock</a>
                </div>

            </div>
            <a class="album-name" href="https://127.0.0.1:8001/album/7">Crush</a>
            <div class="more-info">
                <span class="music-rating">4.5</span>
                <span class="music-duration">3:50</span>
            </div>
            <audio src="" id="audio"></audio>
        </div>

    </div>
</main>
{{ include('/_player.html.twig') }}

{% endblock %}