{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<main>
    <div class="article">
        <div class="header-article">
            <div class="article-img"><img src="{{vich_uploader_asset(article,'imageFile')}}" alt="image-article">
            </div>
            <div class="info-artcl">
                <h3 class="title-artc">{{ article.nom }}</h3>
                <span class="author-artc">{{ article.auteur }}</span>
                <span class="date-pub">{{ article.date|date("d/m/Y") }}</span>
            </div>
        </div>
        <div class="content">
            <p>{{ article.contenue }}</p>
        </div>
    </div>
</main>
{% endblock %}