{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block body %}
<main class="main-album">
    <div class="search-header">
        <label class="label-search" for="search"><i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="RECHERCHER">
        </label>
    </div>

    <div class="album-list">
        <h1 class="page-title pge-album-arts">
            Albums
        </h1>
        {% for album in albums%}
        <div class="album-item">
            <a class="cover-album" href="{{ path('view_album',{'id': album.id} )}}"><img src="{{vich_uploader_asset(album,'imageFile')}}" alt="cover album"></a>
            <div class="album-info">
                <a class="album-title" href="{{ path('view_album',{'id': album.id} )}}">{{ album.nom }}</a>
                <a class="artist-title" href="{{ path('view_artiste', {'id':album.artiste.id}) }}">{{ album.artiste }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}