{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
<main class="main-alb">
    <div class="head-albm">
        <div class="cover-alb">
            <img src="{{vich_uploader_asset(album,'imageFile')}}" alt="album">
        </div>
        <div class="info-alb">
            <h2>{{album.nom}}</h2>
            <span class="art-tag"></span>
        </div>
    </div>
    <div class="musics-album">
        <h1 class="page-title">
            Musiques de l'artiste
        </h1>
        <div class="musics-list">
            {% for musique in album.musique %}
            <div class="music-item">
                <div class="music-cover music-cover-list">
                    <img src="{{vich_uploader_asset(album,'imageFile')}}" alt="artiste">
                </div>
                <div class="music-info">
                    <div class="ctn-msc-info">
                        <span class="music-title title-item">{{ musique.nom }}</span>
                        <a class="music-artist artist-item" href="{{ path('view_artiste', {id: musique.artiste.id }) }}">{{ album.artiste.nom }}</a>
                    </div>

                </div>
                <span class="album-name">{{ album.nom }}</span>
                <div class="more-info">
                    <span class="music-rating">4.5</span>
                    <span class="music-duration">3:50</span>
                </div>
                <audio src="" id="audio"></audio>
            </div>
            {%endfor%}

        </div>
    </div>
</main>
{{ include('/_player.html.twig') }}




{% endblock %}