<header>
    <nav>
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('musiques') }}">Parcourir</a>
        <a href="{{ path('album') }}">Album</a>
        <a href="{{ path('artistes') }}">Artistes</a>
        <a href="{{ path('blog') }}">Actualités</a>
    </nav>
</header>