<header class="header">
    <div class="logo-symfony">
        Symfony
    </div>
    <nav>
        <ul class="nav-links">
            <div class="container-li">
                <li class="nav-link"><a class="link-header" href="{{ path('home') }}"><span
                            class="link-ico icon-ico-home"></span>
                        <span>Accueil</span></a>
                </li>
                <li class="nav-link"><a class="link-header" href="{{ path('musiques') }}"><span
                            class="link-ico icon-ico-music"></span>
                        <span>Musiques</span></a>
                </li>
                <li class="nav-link"><a class="link-header" href="{{ path('album') }}"><span
                            class="link-ico icon-soundtracks"></span>
                        <span>Albums</span></a>
                </li>
                <li class="nav-link"><a class="link-header" href="{{ path('artistes') }}"><span
                            class="link-ico icon-ico-artist"></span>
                        <span>Artists</span></a>
                </li>
                <li class="nav-link"><a class="link-header" href="{{ path('blog') }}"><span
                            class="link-ico icon-ico-news"></span>
                        <span>Actualités</span></a>
                </li>
            </div>

        </ul>

    </nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</header>