{% extends 'base.html.twig' %}

{% block title %}Hello ArtistesController!{% endblock %}

{% block body %}
<main class="main-artists">
    <div class="search-header">
        <label class="label-search" for="search"><i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="RECHERCHER">
        </label>
    </div>

    <div class="artists-list">
        <h1 class="page-title pge-album-arts">
            Artists
        </h1>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>
        <div class="artist-it">
            <a href="#">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">Peggy-Gou</span>
            </a>
        </div>

    </div>
</main>




{% endblock %}