{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
<main class="main-artist">
    <div class="head-art">
        <div class="cover-art">
            <img src="{{vich_uploader_asset(artiste,'imageFile')}}">
        </div>
        <div class="info-art">
            <h2>{{artiste.nom}}</h2>
            <span class="tags">#techno</span>
        </div>
    </div>
    <div class="musics-artist">
        <h1 class="page-title">
            Bibliothèque musicale
        </h1>
        <div class="musics-list">
            <audio src="" id="audio"></audio>
            {%for musique in artiste.musique %}
            <div class="music-item">
                <div class="music-cover music-cover-list">
                    <img src="{{vich_uploader_asset(musique,'imageFile')}}" alt="cover">
                </div>
                <div class="music-info">
                    <div class="ctn-msc-info">
                        <span class="music-title title-item">{{ musique.nom}}</span>
                        <span class="music-artist artist-item">{{artiste.nom}}</span>
                    </div>
                    <span class="src-audio">{{vich_uploader_asset(musique,'audioFile')}}</span>
                </div>
                <a class="album-name"
                    href="{{ path('view_album', {id: musique.album.id }) }}">{{musique.album.nom}}</a>

                <div class="more-info">
                    <span class="music-rating">4.5</span>
                    <span class="music-duration">3:50</span>
                </div>

            </div>
            {%endfor%}

        </div>
    </div>
    <div class="album-list album-artist">
        <h1 class="page-title pge-album-arts">
            Albums
        </h1>
        {%for album in artiste.album %}
        <div class="album-item">
            <a class="cover-album" href="{{ path('view_album', {id: album.id }) }}"><img
                    src="{{vich_uploader_asset(album,'imageFile')}}" alt="cover album"></a>
            <div class="album-info">
                <a class="album-title"
                    href="{{ path('view_album', { id: album.id }) }}">{{album.nom}}</a>
                <span class="artist-title">{{album.artiste}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{{ include('/_player.html.twig') }}

{% endblock %}