{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
<main class="main-artist">
    <div class="head-art">
        <div class="cover-art">
            <img src="{{asset('uploads/artists/')}}{{artist.fileA}}" alt="album">
        </div>
        <div class="info-art">
            <h2>{{artist.name}}</h2>
            <span class="tags">#techno</span>
        </div>
    </div>
    <div class="musics-artist">
        <h1 class="page-title">
            Bibliothèque musicale
        </h1>
        <div class="musics-list">
            <audio src="" id="audio"></audio>
            {%for music in artist.musics%}
            <div class="music-item">
                <div class="music-cover music-cover-list">
                    <img src="{{asset('uploads/covers/')}}{{music.album.file}}" alt="cover">
                </div>
                <div class="music-info">
                    <div class="ctn-msc-info">
                        <span class="music-title title-item">{{music.titleM}}</span>
                        <span class="music-artist artist-item">{{artist.name}}</span>
                    </div>
                    <span class="src-audio">{{asset('uploads/audios/')}}{{music.fileM}}</span>
                </div>
                <a class="album-name"
                    href="{{ path('view_album', {'slug': music.album.slug, id: music.album.id }) }}">{{music.album.title}}</a>

                <div class="more-info">
                    <span class="music-rating">4.5</span>
                    <span class="music-duration">3:50</span>
                </div>

            </div>
            {%endfor%}

        </div>
    </div>
    <div class="album-list album-artist">
        <h1 class="page-title pge-album-arts">
            Albums
        </h1>
        {%for album in artist.albums%}
        <div class="album-item">
            <a class="cover-album" href="{{ path('view_album', {'slug': album.slug, id: album.id }) }}"><img
                    src="{{asset('uploads/covers/')}}{{album.file}}" alt="cover album"></a>
            <div class="album-info">
                <a class="album-title"
                    href="{{ path('view_album', {'slug': album.slug, id: album.id }) }}">{{album.title}}</a>
                <span class="artist-title">{{album.artist}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{{ include('/_player.html.twig') }}

{% endblock %}