{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
<main class="main-artist">
    <div class="head-art">
        <div class="cover-art">
            <img src="{{asset('img/artists/peggy-gou.jpg')}}" alt="album">
        </div>
        <div class="info-art">
            <h2>Peggy Gou</h2>
            <span class="tags">#techno</span>
        </div>
    </div>
    <div class="musics-artist">
        <h1 class="page-title">
            Bibliothèque musicale
        </h1>
        <div class="musics-list">
            <div class="music-item">
                <div class="music-cover music-cover-list">
                    <img src="{{asset('img/covers/subzero.jpg')}}" alt="subzero-cover">
                </div>
                <div class="music-info">
                    <div class="ctn-msc-info">
                        <span class="music-title title-item">subzero</span>
                        <span class="music-artist artist-item">Ben Klock</span>
                    </div>

                </div>
                <a class="album-name" href="https://127.0.0.1:8000/album/7">Crush</a>
                <div class="more-info">
                    <span class="music-rating">4.5</span>
                    <span class="music-duration">3:50</span>
                </div>
                <audio src="" id="audio"></audio>
            </div>
            <div class="music-item">
                <div class="music-cover">
                    <img src="{{asset('img/covers/smack-that.jpg')}}" alt="smack-that-cover">
                </div>
                <div class="music-info">
                    <div class="ctn-msc-info">
                        <span class="music-title title-item">smack-that</span>
                        <span class="music-artist artist-item">akon</span>
                    </div>

                </div>
                <span class="album-name">blum</span>
                <div class="more-info">
                    <span class="music-rating">4.5</span>
                    <span class="music-duration">3:50</span>
                </div>
                <audio src="" id="audio"></audio>
            </div>
            <div class="music-item">
                <div class="music-cover">
                    <img src="{{asset('img/covers/deprogramming.jpg')}}" alt="deprogramming-cover">
                </div>
                <div class="music-info">
                    <div class="ctn-msc-info">
                        <span class="music-title title-item">deprogramming</span>
                        <span class="music-artist artist-item">Adam X</span>
                    </div>

                </div>
                <span class="album-name">FFFFF</span>
                <div class="more-info">
                    <span class="music-rating">4.5</span>
                    <span class="music-duration">3:50</span>
                </div>
                <audio src="" id="audio"></audio>
            </div>

        </div>
    </div>
    <div class="album-list album-artist">
        <h1 class="page-title pge-album-arts">
            Albums
        </h1>
        <div class="album-item">

            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <a class="album-title" href="https://127.0.0.1:8000/album/7">Crush</a>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
        <div class="album-item">
            <a class="cover-album" href="https://127.0.0.1:8000/album/7"><img src="{{asset('img/covers/subzero.jpg')}}"
                    alt="cover album"></a>
            <div class="album-info">
                <span class="album-title">Crush</span>
                <span class="artist-title">Floating Point</span>
            </div>
        </div>
    </div>
</main>
{{ include('/_player.html.twig') }}

{% endblock %}